/* app css stylesheet */

* {
box-sizing: border-box;
}

body {
font-family: helvetica, arial, sans-serif;
font-size: 0.9375rem;
line-height: 1.5;
margin: 0;
padding: 0;
}

.container {
max-width: 1200px;
margin: 0 auto;
position: relative;
}

header {
background-color: #f2f2f2;
padding: 5px;
margin-bottom: 40px;
}

footer {
background-color: #f2f2f2;
padding: 20px 0;
margin-top: 50px;
}

/* generals */

h1 {
margin: 0 0 0.5em 0;
}

h2 {
margin: 0;
}

a, a:visited {
color: #0063BA;
text-decoration: none;
padding: 10px;
}

a:hover {
text-decoration: underline;
cursor: pointer;
}

h1 {
color: #333;
}

.claret {
color: #999;
}

button,
input[type="button"],
.menu a,
.menu a:visited {
background-color: #08f;
color: #fff;
padding: 6px 20px;
margin: 1em;
color: #fff;
font-weight: 700;
border: none;
border-radius: 4px;
display: block;
}

button:hover,
input[type="button"]:hover,
.menu a:hover {
cursor: pointer;
background-color: #0063BA;
text-decoration: none;
color: #fff;
}

.form-horizontal input {
float: left;
vertical-align: middle;
margin: 0 5px 0 0;
}

.form-horizontal button {
margin: 0;
}

input, textarea {
font-size: 1rem;
margin-top: 0.5em;
border-radius: 3px;
padding: 3px 8px;
border: 1px solid #ccc;
}

/* header */

.menu {
list-style: none;
font-weight: bold;
padding-left: 0;
margin: 0;
font-size: 0.875rem;
}

.menu li:last-of-type {
float: right;
margin-right: 0;
padding-top: 10px;
}

#login {
position: absolute;
top: 0px;
right: 0;
}

#login button {
margin: 0;
}

.menu a {
margin: 2px;
}

.menu li {
display: inline-block;
}

/* home llistat */

.setmanes {
margin-top: 2em;
}

.setmanes ul {
padding-left: 0;
}

.setmanes li {
padding: 5px;
border-bottom: 1px solid #ddd;
list-style-type: none;
}

/* resum projecte */

#projecte_resum {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

.projecte_resum_info {
flex: 1 1 auto;
background-color: #f2f2f2;
padding: 20px;
margin: 2px;
}

.projecte_resum_info h2 {
font-size: 0.875rem;
margin:0;
}

.projecte_resum_info p {
font-size: 2rem;
color: #999;
margin: 0;
}


/* taules */

.taula {
margin-bottom: 30px;
margin-top: 20px;
border-collapse: collapse;
}

.taula th {
background-color: #f2f2f2;
padding: 10px;
border: 1px solid #fff;
text-align: left;
}

.taula td {
padding: 5px 10px;
border: 1px solid #ddd;
}

.encapcalament {
border-left: 10px solid #f2f2f2;
}

.taula tr:hover {
background-color: #f2f2f2;
cursor: crosshair;
}

/* Add new */

.addnew {
position: absolute;
top: 10px;
right: 0;
}

.addnew h2 {
font-size: 0.85rem;
margin-bottom: 5px;
}

/* Afegir hores */

.info_hores {
width: 250px;
float: left;
font-size: 0.875rem;
}

.info_hores h3 {
margin-top: 0;
}

.info_hores_projectes {
padding-left: 0;
}

.info_hores_projectes li {
list-style-type: none;
border-bottom: 1px solid #ddd;
padding: 5px 0;
}

.hours {
padding-left: 0;
}

.projects {
padding-left: 0;
}

.projects_add_hores {
-webkit-column-width: 350px;
column-width: 350px;
list-style-type: none;
}

.projects_add_hores li {
border-bottom: 1px solid #ddd;
}

.projects_add_hores input {
width: 60px;
font-size: 0.9375rem;
margin: 0 10px;
}

.nom {
min-width: 200px;
display: inline-block;
font-weight: bold;
}

input.comentari {
width: 90%;
margin: 10px 0 10px 20px;
}

a.esborrar {
background-color: #f2f2f2;
border-radius: 4px;
padding: 0 5px;
line-height: 1;
}

a.botonet {
background-color: #f2f2f2;
border-radius: 4px;
padding: 5px 8px;
line-height: 1;
font-weight: bold;
}

a.botonet:hover {
background-color: #eee;
text-decoration: none;
}




.projects_add_hores tr td:nth-of-type(n+2),
.projects.taula tr td:nth-of-type(n+2) {
text-align: right;
}


