<div class="info_hores">
<h2>Week {{weekNumber}}</h2>
<h3>{{weekDay}} {{day}}</h3>
<div class="abstract">
<p class="day">
Day: {{total}} hours</p>
<p class="week">
Week: x hours
</p>

</div>
<ul class="hours" >
<li ng-repeat="h in hours" style="border-left: 10px solid {{toColor(h.project_slug)}}">{{h.project_slug}} {{h.hours}}h {{h.comments}}<a ng-click="del()">x</a></li>
</ul>
</div>

<ul class="projects add">
<li  ng-repeat="p in projects">

  <span style="border-left: 10px solid {{toColor(p.slug)}}" class="nom">{{p.slug}}</span>
  <input  ng-enter="add()" name="hours{{p.slug}}" data-ng-model="myhours" class="form-control" placeholder="hours" required />

    <a title="add hours" ng-click="add()">+</a>
    <a title="add comment" class="comment" ng-click="docomment($index)">c</a>
    <input type="text" ng-show="p.c" data-ng-model="mycomment" placeholder="your comment">



 </li>
</ul>



<nav class="navigation">
<p class="days">
<a ng-click="prev()">< prev</a>
<a ng-click="next()">next ></a>
</p>
<p class="weeks">
<a ng-click="prevWeek()">< prev week</a>
<a ng-click="nextWeek()">next week ></a>
</p>
</nav>
