<div class="info_hores">
<h2>Week {{weekNumber}}</h2>
<h3>{{weekDay}} {{day}}</h3>
<div class="abstract">
<p>
Day: <strong>{{total}} h</strong><br>
Week: <strong>x hours</strong>
</p>

</div>
<ul class="info_hores_projectes">
<li ng-repeat="h in hours"><strong>{{h.project_slug}}</strong> {{h.hours}}h <a ng-click="del()" class="esborrar">x</a><br><span class="comments">{{h.comments}}</span></li>
</ul>
</div>

<ul class="projects_add_hores">
<li  ng-repeat="p in projects">

  <a href='#project/{{p.slug}}' style="border-left: 10px solid {{toColor(p.slug)}}" class="nom">{{p.slug}}</a>
  <input  ng-change="setcomment($index)" ng-enter="add()" name="hours{{p.slug}}" data-ng-model="myhours" class="form-control" placeholder="hours" required />
  <a title="add hours" ng-click="add()" class="botonet">+</a>
<!--  <a title="add comment" class="comment" ng-click="docomment($index)" class="botonet">c</a> -->
 <div mass-autocomplete>
  <input type="text" ng-show="p.c"  ng-enter="add()" data-ng-model="mycomment" mass-autocomplete-item="autocomplete_options" placeholder="your comment" class="comentari">
</div>
 </li>
</ul>



<nav class="navigation">
<p class="days">
<a ng-click="prev()">< prev</a>
<a ng-click="next()">next ></a>
</p>
<p class="weeks">
<a ng-click="prevWeek()">< prev week</a>
<a ng-click="nextWeek()">next week ></a>
</p>
</nav>
