<h1>Dashboard</h1>



<button  ng-show="user == null" ng-click='googleLogin()'>Login</button>
<button  ng-show="user != null" ng-click='googleLogout()'>Logout</button>

<h1>Stats</h1>
<h2>Projects</h2>

<ul class="projects">
<li  ng-repeat="p in projects" style="border-left: 10px solid {{toColor(p.slug)}}">
  {{p.slug}} : {{p.total}}h <span ng-if="p.budget>0" class='info'>{{p.budget}}€ ratio:{{p.budget/p.total}}€/h</span></li>
</ul>

<h2>Weeks</h2>
<ul class="weeks">
<li  ng-repeat="w in weeks"> {{w.y}}/{{w.w}} :  {{w.t}}h</li>
</ul>
