<h1>Projects</h1>
<div class="addnew">
<h2>Add new project</h2>
<form class="form-horizontal" name="helpForm" novalidate role="form">
<input type="text" name="project" data-ng-model="project" class="form-control" required />
<button  data-ng-click="submit()" class="btn btn-default">Add Project</button>
</form>
</div>
<h2>Active projects</h2>
<table class="projects taula" >
<tr ng-repeat="p in projects" style="border-left: 10px solid {{toColor(p.slug)}}">  
<td><a href='#project/{{p.slug}}'>{{p.slug}} </a></td>
<td><a ng-click="hide()">hide</a></li></td>
</tr>
</table>

<h2>Hidden projects</h2>
<table class="projects taula noactive">
<tr  ng-repeat="p in projects_hidden" style="border-left: 10px solid {{toColor(p.slug)}}">

  <td><a href='#project/{{p.slug}}'> {{p.slug}}</a></td>
<td>  <a ng-click="show()">show</a></td>
</tr>
</table>


